.app {
    background: #f1f1f1;
    display: grid;  /*vai ser grid, tá no elemento pai,define o template*/
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape" ; /*as áreas do site grid*/
    grid-template-columns: auto ; /*tamanho das colunas e linhas*/
    grid-template-rows: 50px auto auto; /*tamanho das linhas, de cada uma (do cabeçalho, rodape e conteudo)*/
    

}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho; /* gridtemplate areas, havia apenas o nome na função da linha 5, agora há ligação entre as duas, 5 e 14*/
}
 
.conteudo {
    
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    background: #fdfdfd;
    color: #333;
    font-size: .8rem;
    text-align: center;
    grid-area: rodape;
}